*
*{
    margin: 0;
    padding: 0;
    background-image: url(back.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: sans-serif;
    color: white;
    font-weight: bold;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.calculator{
    display: grid;
grid-template-columns: repeat(4,1fr);
border-radius: 10px;
border:2px solid white ;
padding: 10px;
}
input{
text-align: right;
grid-column: span 4;
border: 2px solid white;
height:60px;
border-radius: 20px;
color: white;
font-size: 20px;
padding-right: 10px;
box-shadow:  inset 5px 5px 6px #ffffff, 5px 5px 6px black   ;
}
button{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    border: 0;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: inset  5px 5px 6px #ffffff, 5px 5px 6px black ;
}
.equal{
    width: 100px;
    border-radius: 20px;
}
